@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback");
@import "./style.css";
@import "./vendors/flatpickr.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  @apply bg-white dark:bg-gray-900;
}

body::-webkit-scrollbar,
.showFullDeskTopSidebar::-webkit-scrollbar {
  display: none;
}
.sidebar::-webkit-scrollbar {
  display: block;
}
.navbar,
.footer {
  background: rgb(2, 2, 32);
  background: linear-gradient(
    90deg,
    rgba(2, 2, 32, 0.8547618876652223) 100%,
    rgba(1, 0, 17, 0.7959383582534576) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.gustNavbar {
  background: rgb(7, 6, 19);
  background: linear-gradient(
    90deg,
    rgba(7, 6, 19, 0.9415966215587798) 100%,
    rgba(11, 4, 112, 0.8127450809425333) 100%,
    rgba(11, 4, 112, 0.8127450809425333) 100%,
    rgba(0, 212, 255, 1) 100%,
    rgba(3, 3, 42, 0.8575630081134016) 100%
  );
}

.backdrop {
  background: rgba(7, 6, 19, 0.712);
  background: linear-gradient(
    90deg,
    rgba(7, 6, 19, 0.685) 100%,
    rgba(11, 4, 112, 0.479) 100%,
    rgba(11, 4, 112, 0.616) 100%,
    rgba(0, 213, 255, 0.568) 100%,
    rgba(3, 3, 42, 0.603) 100%
  );
}
.btn {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  @apply font-semibold rounded-md;
}

.whitespace-nowrap {
  white-space: nowrap;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.loading {
  @apply h-screen w-screen flex justify-center items-center text-center text-green-500 text-2xl font-bold;
}
.loadingPagination {
  @apply h-screen w-screen flex justify-center items-center text-center text-gray-800 text-2xl font-bold;
}

.isError {
  @apply flex justify-center items-center text-center text-orange-500 text-2xl font-bold;
}

.form-input {
  outline: none;
  @apply px-2 py-3 border-gray-400 text-gray-500 bg-indigo-50 placeholder:text-indigo-500 w-full;
}

.liBorder {
  border-bottom-left-radius: 11%;
  border-bottom-right-radius: 11%;

  @apply border-b-2 border-indigo-700 duration-300;
}

.toCenter {
  @apply w-screen h-screen flex justify-center items-center;
}

.form-input-width {
  @apply xmd:w-[50rem] md:w-[55rem]  lg:w-[55rem];
}

.toHideScrollBar::-webkit-scrollbar {
  display: none;
}
/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION START */
.productCarousel.carousel-root {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}
.productCarousel.carousel-root .carousel {
  width: auto;
}
.productCarousel.carousel-root .carousel.carousel-slider {
  width: 100%;
}
.productCarousel.carousel-root .carousel.carousel-slider .slider-wrapper {
  border-radius: 10px;
}
.productCarousel.carousel-root .carousel .thumbs-wrapper {
  margin: 0;
}
.productCarousel.carousel-root .carousel .thumb {
  height: 60px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.productCarousel.carousel-root .carousel .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.productCarousel.carousel-root .carousel .thumb:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
}
.productCarousel.carousel-root .carousel .thumb.selected,
.productCarousel.carousel-root .carousel .thumb:hover {
  border: 0;
}
.productCarousel.carousel-root .carousel .thumb:hover:after,
.productCarousel.carousel-root .carousel .thumb.selected:after {
  opacity: 0.2;
}
.productCarousel .control-arrow {
  display: none;
}
@media screen and (max-width: 767px) {
  .productCarousel.carousel-root {
    flex-direction: column;
  }
  .productCarousel.carousel-root .carousel .thumb {
    border: 0;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .productCarousel.carousel-root .carousel .thumbs {
    transform: none !important;
    flex-direction: column;
    display: flex;
    gap: 10px;
  }
  .productCarousel.carousel-root .carousel .thumb {
    border: 0;
    padding: 0;
    margin: 0;
  }
}
/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION END */

.markdown ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  margin: 20px 0;
}
.markdown ul li {
  margin: 10px 0;
}